<h1>Edit <%= @team.name %></h1>

<form method="POST" action="/teams/<%= @team.id %>/edit">
    <table>
        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <tr>
            <td>Location: </td>
            <td><input type="text" name="location" value="<%= @team.location %>"></td>
        </tr>
        <tr>
            <td>Team Name: </td>
            <td><input type="text" name="name" value="<%= @team.name %>"></td>
        </tr>
        <tr>
            <td>Slogan:</td>
            <td><input type="text" name="slogan" value="<%= @team.slogan %>"></td>
        </tr>
        <tr>
            <td>Logo:</td>
            <td><input type="text" name="logo" value="<%= @team.logo %>"></td>
        </tr>
    </table><br>

    <input type="submit" value="Submit Edits"><br><br>
</form>

<h3>-- OR --</h3><br>
    
<form method="POST" action="/teams/<%= @team.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Team">
</form>
<br><br>