<h1>Teams & Owners</h1>
<% @teams.each do |team| %>
    <% if team.owner %>
        <h3>
            <a href="/teams/<%= team.id %>"><%= team.location %> <%= team.name %></a> - 
            <a href="/users/<%= team.user_id %>"><%= team.owner.name %></a>
        </h3>
    <% end %>
<% end %><br><br>

<button><a href="/players">List of players</a></button>
