<h1>Edit yo stuff here!</h1>

<form method="POST" action="/users/<%= @user.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    
    <label>Full Name: </label>
    <input type="text" name="name" value="<%= @user.name %>"><br>
    
    <label>Username: </label>
    <input type="text" name="username" value="<%= @user.username %>"><br>
    
    <label>Password: </label>
    <input type="password" name="password" value="<%= @user.password %>"><br>
    
    <label>Social Security Number: </label>
    <input type="number" name="ssn" value="<%= @user.ssn %>"><br>
    
    <label>Credit card information: </label>
    <input type="number" name="credit_card_info" value="<%= @user.credit_card_info %>"><br>
    
    <label>Deepest darkest secret: </label>
    <input type="text" name="deepest_darkest_secret" value="<%= @user.deepest_darkest_secret %>"><br>
    
    <label>What you want for Christmas: </label>
    <input type="text" name="what_you_want_for_christmas" value="<%= @user.what_you_want_for_christmas %>"><br>

    <label>New Photo Url</label>
    <input type="text" name="photo_url"><br>
    
    <input type="submit" value="submit changes">
    
</form>